div{
    text-align: center;
    background-color: blanchedalmond;
    height: 100vh;
}


h1{
    font-size: 70px;
    font-family: Impact;
}

button{
    width: 200px;
    height: 70px;
    background-color: blue;
    color: white;
}

p{
    font-size: 40px;
}

button:hover{
    background-color: cornflowerblue;
}